

.blog{
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.blog .text{
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 5rem;
}

.blog .content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
}

.blog .image{
    max-width: 40rem;
    margin-bottom: 4rem;
}

.blog .image img{
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}


.blog .room{
    width: 35rem;
    margin-bottom: 4rem;
}

.blog .room h1{
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.blog .room h4{
    font-size: 1.6rem;
    line-height: 35px;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.blog .room p{
    color: gray;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.blog .room .btn{
    padding: 1.2rem 2.2rem;
    border: none;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.blog .room .btn:hover{
    background-color: #0a990a;
}

.blog .blogFooter {
    background-image: url(../../assets/images/blogThree.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    width: 83%; 
    margin: 0 auto;
    
    padding: 3rem;
    text-align: center; 
    border-radius: 10px; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

@media screen and (max-width:600px) {
    .blog .blogFooter{
        width: 95%;
    }
}

.blog .blogFooter h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.blog .blogFooter p {
    font-size: 1.2rem;
    max-width: 600px;
}

.blog .blogFooter a {
    display: inline-block;
    background-color: #ff7b54;
    color: white;
    padding: 0.8rem 2rem;
    margin-top: 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background 0.3s ease-in-out;
}

.blog .blogFooter a:hover {
    background-color: #e66a45;
}
