

.footer{
    margin-top: 15rem;
    background-color: #1a1a1a;
    color: white;
}

.footer .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    padding: 7rem 0;
}

.footer .content .roomOne{
    display: flex;
    justify-content: space-around;
    gap: 8rem;
}

.footer .content .roomOne h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.footer .content .roomOne h5{
    margin-bottom: 1rem;
    color: #d8d8d8;
}

.footer .content .roomOne select{
    margin-top: 2rem;
    color: black;
    outline: none;
}
    
.footer .content .roomTow h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.footer .content .roomTow p{
    color: #d8d8d8;
    margin-bottom: 1rem;
}

.footer .content .roomTow .form{
    display: flex;
    align-items: center;
}

.footer .content .roomTow .form label{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.6rem 1.2rem;
    color: gray;
    border: 2px solid gray;
    border-radius: 0.4rem 0 0 0.4rem;
    /* margin-bottom: 2rem; */
}

.footer .content .roomTow .form label .mail{
    color: rgb(255, 246, 229);
    font-size: 1.2rem;
}

.footer .content .roomTow .form label input{
    border: none;
    background-color: transparent;
    outline: none;
}

.footer .content .roomTow .form button{
    padding: 0.8rem 1.2rem;
    background-color: var(--primary-color);
    border-radius: 0 0.4rem 0.4rem 0;
}

.footer .content .roomTow .social{
    display: flex;
    gap: 1.4rem;
    color: white;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}