.shop-head {
  margin-bottom: 5rem;
  background-image: url(../../assets/images/Image_24.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 5%;
  display: flex;
  align-items: center;
  padding: 10%;
}
